---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import Title from '../../components/Title.svelte';
import Links from '../../components/Links.svelte';
import Link from '../../components/Link.svelte';
import Article from '../../components/Article.svelte';

export const prerender = true;

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).filter(
  (post) => (post.slug.startsWith('en/'))
);

const categories = posts.map((post) => post.data.type).filter((value, index, self) => self.indexOf(value) === index).map((category) => {
  return {
    category: category,
    posts: posts.filter((post) => post.data.type === category)
  }
});
---

<Layout title="My writings" image="/logos/50.png" desc="Drawing by Puurply.">
  <Title
  title='There is all of my english writings.'
  subtitle={`Actually ${posts.length} writings.`}
  />

  <Links>
    <Link
      text='< Back'
      href='/en/'
    />
    <Link
      text='My french writings'
      href='/fr/ecrits'
    />
    <Link
      text='RSS'
      href='/en/rss.xml'
      newTab={true}
    />
  </Links>
  <Links>
    <a
      id="button"
      class="active"
      href="#"
      style="padding: 0.3em 0.6em; font-size: 0.7rem"
      data-category="all"
    >
      All ({posts.length})
    </a>
    {
    categories.map((category) => (
      <a
        id="button"
        data-category={category.category}
        href="#"
        style="padding: 0.3em 0.6em; font-size: 0.7rem"
      >
        {`${category.category} (${category.posts.length})`}
      </a>
    ))
  }
  </Links>
  
    {
      posts.map((post) => (
      <div id="article" data-category={post.data.type}>
        <Article url={post.slug} type={post.data.type} date={post.data.pubDate.toLocaleDateString()} title={post.data.title} description={post.data.description} client:load  />
      </div>
      ))
    }
</Layout>

<script>

  const btns: NodeListOf<HTMLLinkElement> = document.querySelectorAll('#button[data-category]')
  const articles: NodeListOf<HTMLDivElement> = document.querySelectorAll('#article[data-category]')
  
  btns.forEach((btn) => {
    btn.addEventListener('click', () => {
      btns.forEach((btn) => {
        btn.classList.remove('active')
      })
      btn.classList.add('active')
      articles.forEach((article) => {
        if (btn.dataset.category === 'all') {
          article.style.display = 'block'
        } else if (article.dataset.category === btn.dataset.category) {
          article.style.display = 'block'
        } else {
          article.style.display = 'none'
        }
      })
    })
  })
  
  </script>
  
  <style>
    #button.active {
      color: white;
      border-color: var(--color);
    }
  </style>